<div class="doc_comments" th:fragment="comments">
  <div id="disqus_thread"></div>
  <script th:inline="javascript">

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      /*<![CDATA[*/

      var shortname = /*[[${theme.config.basic.disqus_shortname}]]*/ '';

      /*]]>*/
      s.src = "https://" + shortname + ".disqus.com/embed.js";
      s.setAttribute("data-timestamp", + new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</div>