<!DOCTYPE html>
<html
  lang="zh-cn"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content)"
>
  <head th:replace="~{modules/head::head}" >
  </head>

  <body>
    <div class="main animate__animated animate__fadeInDown">
      <div th:replace="~{modules/nav::nav}" >
      </div>
      <div th:replace="~{modules/header::header}" >
      </div>
      <section>
        <th:block th:replace="${content}" />
      </section>
    </div>
    <footer th:replace="~{modules/footer::footer}"></footer>
    <footer th:replace="~{modules/js::js}"></footer>
  </body>
</html>
